<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<div class="container mt-5">
    <form action="/nuevoproducto" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h1>Nuevo Producto</h1>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="producto" id="producto" placeholder="Producto" autofocus>
                <input class="form-control mb-3" type="text" name="stock" id="stock" placeholder="Stock">
                <input class="form-control mb-3" type="text" name="precio" id="precio" placeholder="Precio">
                <input class="form-control mb-3" type="file" name="foto" id="foto" placeholder="Selecciona tu foto">
            </div>
            <div class="card-footer">
                <button class="btn btn-primary mb-3" type="submit">Guardar producto</button>
                <button class="btn btn-secondary" type="reset">Limpiar campos</button>
            </div>
        </div>
    </form>
</div>
<%- include("../templates/pie") %>